.pizza-cantainer {
  position: relative;
  top: 100px;
  border: 1px solid white;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 5px;
  height: 100vh;
  width: 1350px;
  background-color: rgb(253, 105, 105);
}
.grid-cantainers {
  left: 20px;
  position: relative;
  display: flex;
  width: 95%;
  height: 60px;
  background-color: rgb(248, 240, 240);
}
.grid-cantainersMaps {
  top: 6px;
  left: 20px;
  position: relative;
  display: flex;
  width: 95%;
  height: 60px;
  background-color: rgb(248, 240, 240);
}

.grid-item-m2 {
  position: relative;
  left: 50px;
  width: 150px;
  border: 1px solid rgb(249, 247, 247);
}
.pizza {
  position: relative;
  top: -10px;
  left: -20px;
}
.sauce {
  position: relative;
  top: -50px;
  left: 40px;
}
.cheese {
  position: relative;
  top: -50px;
  left: 20px;
}
.veggies {
  position: relative;
  top: -50px;
  left: 20px;
}
.meat {
  position: relative;
  top: -50px;
  left: -20px;
}
.grid-item-m3 {
  position: relative;
  left: 50px;
  top: 40px;
  width: 150px;
}
.grid-item-m4 {
  position: relative;
  left: 200px;
  top: 40px;
  width: 150px;
}
.grid-item-m5 {
  position: relative;
  left: 300px;
  top: 40px;
  width: 150px;
}
.grid-item-m6 {
  position: relative;
  left: 380px;
  top: 40px;
  width: 150px;
}
.grid-item-n1 {
  position: relative;
  display: flex;
  left: 60px;
  width: 200px;
  top: 6px;
  height: 40px;
}
.grid-item-n2 {
  position: relative;
  display: flex;
  top: 6px;
  left: 70px;
  width: 200px;
  height: 40px;
}

.grid-item-n3 {
  position: relative;
  display: flex;
  top: 6px;
  left: 180px;
  width: 200px;
  height: 40px;
}
.grid-item-n4 {
  position: relative;
  display: flex;
  top: 6px;
  left: 221px;
  width: 200px;
  height: 40px;
}

.grid-item-n5 {
  position: relative;
  display: flex;
  top: 6px;
  left: 211px;
  right: -200px;
  width: 200px;
  height: 40px;
}
.purchase {
  position: relative;
  top: -100px;
  left: 470px;
  margin: 40px 40px;
  background-color: rgb(23, 22, 22);
  padding: 10px 10px;
  color: white;

  border-radius: 5px;
  border: 1px solid rgb(29, 28, 28);
}
.msg {
  position: relative;
  padding: 10px 10px;
  border: 1px solid black(243, 235, 235);
  top: -190px;
  font-family: sans-serif;
  font-size: large;
  border-radius: 5px;
  left: 600px;
  background-color: rgb(17, 15, 15);
  margin-bottom: 100px;
  border: 1px solid rgb(28, 27, 27);
  color: white;
}
.Add-item {
  position: relative;
  top: -30px;
  left: 580px;
  padding: 10px 10px;
  background-color: rgb(21, 20, 21);
  border-radius: 5px;
  font-weight: 800;
  color: rgb(250, 245, 245);
  outline: none;
  border: 1px solid rgb(26, 25, 25);
}
.Add-item:hover {
  box-shadow: 5px 5px 5px orange;
}
.delete-btn {
  position: relative;
  width: 80px;
  border-radius: 3px;
  top: -50px;
  height: 40px;
  margin-left: 74%;
  background-color: rgb(250, 142, 142);
  color: rgb(2, 2, 2);
  border: 1px solid rgb(244, 154, 154);
  font-weight: 800;
}
.edit-btn {
  position: relative;
  width: 80px;
  border-radius: 3px;
  top: -90px;
  height: 40px;
  margin-left: 87%;
  background-color: rgb(66, 234, 75);
  color: rgb(2, 2, 2);
  border: 1px solid rgb(120, 246, 139);
  font-weight: 800;
}
.msge {
  text-decoration: none;
}
.pizza-collecting {
  position: relative;
  top: 0px;
}
